<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Boxlab home</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Boxlab homepage">
    <meta name="author" content="Maarten Blokker">

    <!-- styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/jquery/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
    
    <!-- javascript -->
    <script src="/jquery/jquery-1.9.1.min.js"></script>
    <script src="/jquery/jquery-ui-1.9.2.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/devices.js"></script>
    <script>
		 
  	</script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/shiv/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
  	<div id="deviceModal" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-header">
			<button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="modalLabel"></h3>
		</div>
		<div class="modal-body">
			<p id="text-placeholder"></p>
			<div class="progress progress-striped active">
  				<div id="progressbar" class="bar" style="width: 0%;"></div>
			</div>
			<div>
				<p>Time remaining: <span id="timerspan"></span> seconds</p>
			</div>
			<div>
				<p><span id="devicesLabel"></span> device(s) <span id="suffixLabel"></span></p>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Stop</button>
		</div>
	</div>
 
    <div class="container">
     
      {{>header}}
      
      <!-- Jumbotron -->
      <div class="jumbotron">
        <img src="/images/boxlab_logo.png" />
        <p class="lead">Lab in a box</p>
      </div>
      
      <hr>
      
      <div class="row-fluid">
      	<div class="span12">
      		<div class="span4 offset4">
	      		<p align="center">
	      			<p>Drag the slider to increase or decrease the amount of time you have to include or exclude devices</p>
	      			<p>Include/exclude duration: <span id="sleeptime">30</span> second(s).</p>
				</p>
				<div id="slider"></div>
				<br>				
	      		<div align="center">
	      		 	<button class="btn btn-primary" onclick="startMode('inclusion');">Include devices</button>
	  				<button class="btn btn-danger" onclick="startMode('exclusion');">Exclude devices</button>
	      		</div> 
			</div>
      		
			<table class="table">
			  <thead>
			    <tr>
			      <th>Node ID</th>
			      <th>Name</th>			      
				  <th>Luminiscence</th>	
				  <th>Temperature</th>
			      <th>Battery level</th>
			      <th>Status</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>
			    {{#devices}}
			    <tr>
			      <td>{{id}}</td>
			      <td>{{name}}</td>
			      <td>{{luminiscence}}</td>
			      <td>{{temperature}}</td>
			      <td>
			      	{{#hasBattery}}<img src="{{batteryImage}}">{{/hasBattery}}
			      	{{batteryLevel}}{{#hasBattery}}%{{/hasBattery}}
			      </td>
			      <td>{{status}}</td>
			      <td><a class="btn" href="devices/edit/{{id}}">Edit settings</a></td>
			    </tr>
			    {{/devices}}
			  </tbody>
			</table>
		</div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; BePrevious 2013</p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
